@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
  font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--link-color);
    &:hover {
        color:var(--primary);
    }
}